*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: black;
  overflow: hidden;
}

#app {
  width: 100vw;
  height: 100vh;
}

canvas {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
